* {
    margin: 0;
}

#main-cont {
    height: calc(100vh - 50px);
    width: 100vw;
    max-width: 400px;
    min-width: 320px;
    min-height: 520px;
    margin: auto;
    background-color: orange;
    padding: 0 30px 0 30px;   
    box-sizing: border-box; 
    position: relative;
}

#footer-cont {
    height: 50px;
    width: 100vw;
    background-color: rgb(62,46,34);
    color: white;
    text-align: center;
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
}

#footer-cont p {
    line-height: 50px;
}

#logo {
    width: 100%;
    max-height: 170px;
}

.info-cont {
    width: 100%;
    height: 50px;
    text-align: center;
    font: 22px Helvetica, sans-serif;
    font-weight: bolder;
    line-height: 50px;
    background-color: red;
}

.actions-cont { 
    width: 100%;
    background-color: green;
}

.score-cont {
    position: absolute;
    bottom: 0;
    height: 50px;
    left: 0;
    right: 0;
    background-color: blue;
}