* {
    margin: 0;
}

#main-cont {
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: orange;
}

#footer-cont {
    height: 50px;
    width: 100vw;
    background-color: rgb(62,46,34);
}